@font-face {
	font-family: NooraFaEn;
	font-style: normal;
	font-weight:100 200;
	src: url('woff/NooraFa-En-ExtraLight.woff') format('woff'),
	url('woff2/NooraFa-En-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: NooraFaEn;
	font-style: normal;
	font-weight:300;
	src: url('woff/NooraFa-En-Light.woff') format('woff'),
	url('woff2/NooraFa-En-Light.woff2') format('woff2');
}

@font-face {
	font-family: NooraFaEn;
	font-style: normal;
	font-weight: 400 600;
	src: url('woff/NooraFa-En-Regular.woff') format('woff'),
	url('woff2/NooraFa-En-Regular.woff2') format('woff2');
}


@font-face {
	font-family: NooraFaEn;
	font-style: normal;
	font-weight: bold;
	src: url('woff/NooraFa-En-Bold.woff') format('woff'),
	url('woff2/NooraFa-En-Bold.woff2') format('woff2');
}

@font-face {
	font-family: NooraFaEn;
	font-style: normal;
	font-weight: 800;
	src: url('woff/NooraFa-En-ExtraBold.woff') format('woff'),
	url('woff2/NooraFa-En-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: NooraFaEn;
	font-style: normal;
	font-weight: 900;
	src: url('woff/NooraFa-En-Black.woff') format('woff'),
	url('woff2/NooraFa-En-Black.woff2') format('woff2');
}

