@import "tailwindcss";
@import "./icon.css";
@import "./bulk-style.css";
@import "./woocommerce.css";

/* globals.css یا tailwind layer */
@keyframes ping-slow {
  0% { transform: scale(1); opacity: 0.6; }
  100% { transform: scale(2.5); opacity: 0; }
}
.animate-ping-slow { animation: ping-slow 6s cubic-bezier(0.4, 0, 0.6, 1) infinite; }
.delay-1000 { animation-delay: 1s; }


button{
  cursor: pointer;
}
/* COLORS HERE */

.text-myb{
  color: #11207A;
}
.bg-myb{
  background-color: #2B3992;
}
.bg-myb-dark{
  background-color: #11207A;
}

.text-myg{
  color: #BBD430;
}
.bg-myg{
  background-color: #BBD430;
}
.bg-myg-200{
  background-color: #D1DB9E;
}
.border-myb{
  background-color: #2B3992;
}
/* END OF COLORS */ 





.circle-loader,
.circle-loader:after {
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.circle-loader {
    overflow: hidden;
    margin: 20px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 5px solid rgba(var(--colorPrimaryRGB), 0.2);
    border-right: 5px solid rgba(var(--colorPrimaryRGB), 0.2);
    border-bottom: 5px solid rgba(var(--colorPrimaryRGB), 0.2);
    border-left: 5px solid var(--colorPrimary);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}


@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}